<%- if controller_name != 'sessions' %>
  <%= link_to "Login", new_session_path(resource_name) %><br />
<% end %>

<!-- <p>Please use FRAB to create account and submit papers. Follow <a href="https://zagreb.degrowth.net">this link</a> for more information.</p> -->
<p>Don't have an account? Follow the <%= link_to "link", new_user_registration_path %> here to apply to the conference. </p>
<%- if devise_mapping.omniauthable? %>
  <%- resource_class.omniauth_providers.each do |provider| %>
    <%= link_to "Prijavi se kao #{OmniAuth::Utils.camelize(provider)}", omniauth_authorize_path(resource_name, provider) %><br />
  <% end %>
<% end %>
